
@media screen and (min-width: 900px){

	/*
	 * Carrousel Principal
	 */

	#carrousel-principal{
		margin: 0;
		padding: 5% 0;
		width: 100%;
		text-align: center;
	}

	#carrousel-principal{
		background-color: #000;
	}

	.mySlides{
		display: none;
		width: 80%;
	}

	.prev, .next {
		cursor: pointer;
		display: inline-block;
		width: 5%;
		margin-top: -50%;
		padding: 5px;
		color: white;
		font-weight: bold;
		font-size: 2rem;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		text-align: center;
		vertical-align: middle;
	}

	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	.prev {
		left: 0;
	}

	.prev:hover, .next:hover {
		background-color: rgba(180, 180, 180, 0.6);
	}

	.text {
		color: #f2f2f2;
		font-size: 1.2rem;
		font-family: "Verdana";
		padding: 8px 12px;
		display: inline-block;
		bottom: 8px;
		width: 80%;
		text-align: center;
	}

	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
		display: inline-block;
	}

	@keyframes fade {
		from {opacity: .4}
		to {opacity: 1}
	}

	.mySlides a{
		display: inline-block;
		width: 100%;
	}

	.carousel-img {
		text-align: center;
		width: 100%;
	}

	/*
	 * SEÇÃO SERVIÇOS
	 */

	#servicos{
		margin: 0;
		padding: 2% 10%;
		width: 80%;
		text-align: center;
	}

	.servicos-tipos{
		display: inline-block;
		margin: 0;
		padding: 0;
		width: 30%;
		vertical-align: top;
	}

	.servicos-tipos{
		font-family: Verdana;
	}

	.servicos-tipos img{
		width: 50%;
	}

	.servicos-tipos h5{
		font-size: 0.8rem;
		color: #1f1f1f;
	}

	.servicos-tipos p{
		font-size: 0.6rem;
		color: #808080;
	}

	 /*
	 * SEÇÃO NOVIDADES e DESTAQUES
	 */

	#novidades, #destaques{
		margin: 0;
		padding: 2% 5%;
		width: 90%;
		text-align: center;
	}

	.subtitle{
		font-family: Verdana;
		font-size: 2rem;
		text-align: left;
	}

	section header{
		border-bottom: 4px solid #d5ad46;
	}

	.carrousel-produtos{
		margin: 0;
		padding: 2% 0 0 0;
		width: 100%;
	}

	.product-box{
		display: inline-block;
		margin: 0 1.25%;
		padding: 0;
		width: 22%;
		height: 300px;
		box-shadow: 0 0 10px #F2E7A7;
		vertical-align: bottom;
	}


	.product-box:hover{
		box-shadow: 0 0 20px #d5ad46;
	}

	.product-img{
		width: 75%;
		vertical-align: bottom;
	}

	.product-box a{
		cursor: pointer;
	    color: #f1f1f1;
		text-decoration: none;
		font-family: 'Verdana';
		font-size: 1em;
	}

	.product-box:hover h6{
		color: #F2D49B;
	}

	.product-box-img{
		height: 60%;
		padding: 5% 0 0 0;
	}

	.product-describe{
		height: 30%;
		width: 90%;
		margin: 5% 5% 0 5%;
		padding-top: 2%;
		border-top: 3px solid #F2D49B;
	}

	.product-describe p{
		vertical-align: middle;
		color: #808080;
		font-size: 0.8rem;
		height: 70%;
	}

	.product-describe h6{
		height: 30%;
		vertical-align: bottom;
		margin-block-start: 0;
	    margin-block-end: 0;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
		bottom: 0;
		font-size: 1rem;
		color: #111;
	}
}

@media screen and (min-width: 500px) and (max-width: 899px){
		/*
	 * Carrousel Principal
	 */

	#carrousel-principal{
		margin: 0;
		padding: 5% 0;
		width: 100%;
		text-align: center;
	}

	#carrousel-principal{
		background-color: #000;
	}

	
	.mySlides{
		display: none;
		width: 80%;
	}

	.prev, .next {
		cursor: pointer;
		display: inline-block;
		width: 5%;
		margin-top: -50%;
		padding: 5px;
		color: white;
		font-weight: bold;
		font-size: 2rem;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		text-align: center;
		vertical-align: middle;
	}

	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	.prev {
		left: 0;
	}

	.prev:hover, .next:hover {
		background-color: rgba(180, 180, 180, 0.6);
	}

	.text {
		color: #f2f2f2;
		font-size: 1.2rem;
		font-family: "Verdana";
		padding: 8px 12px;
		display: inline-block;
		bottom: 8px;
		width: 80%;
		text-align: center;
	}

	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
		display: inline-block;
	}

	@keyframes fade {
		from {opacity: .4}
		to {opacity: 1}
	}

	.mySlides a{
		display: inline-block;
		width: 100%;
	}

	.carousel-img {
		text-align: center;
		width: 100%;
	}

	/*
	 * SEÇÃO SERVIÇOS
	 */

	#servicos{
		margin: 0;
		padding: 2% 10%;
		width: 80%;
		text-align: center;
	}

	.servicos-tipos{
		display: inline-block;
		margin: 0;
		padding: 0;
		width: 30%;
		vertical-align: top;
	}

	.servicos-tipos{
		font-family: Verdana;
	}

	.servicos-tipos img{
		width: 50%;
	}

	.servicos-tipos div{
		width: 100%;
	}

	.servicos-tipos h5{
		font-size: 0.8rem;
		color: #1f1f1f;
	}

	.servicos-tipos p{
		font-size: 0.6rem;
		color: #808080;
	}

	 /*
	 * SEÇÃO NOVIDADES e DESTAQUES
	 */

	#novidades, #destaques{
		margin: 0;
		padding: 2% 5%;
		width: 90%;
		text-align: center;
	}

	.subtitle{
		font-family: Verdana;
		font-size: 2rem;
		text-align: left;
	}

	section header{
		border-bottom: 4px solid #d5ad46;
	}

	.carrousel-produtos{
		margin: 0;
		padding: 2% 0 0 0;
		width: 100%;
	}

	.product-box{
		display: inline-block;
		margin: 0 1.25%;
		padding: 0;
		width: 22%;
		height: 300px;
		box-shadow: 0 0 10px #F2E7A7;
		vertical-align: bottom;
	}

	@media screen and (max-width: 660px){
		.product-box{
			width: 44%;
			margin-top: 1.25%;
		}
	}


	.product-box:hover{
		box-shadow: 0 0 20px #d5ad46;
	}

	.product-img{
		width: 75%;
		vertical-align: bottom;
	}

	.product-box a{
		cursor: pointer;
	    color: #f1f1f1;
		text-decoration: none;
		font-family: 'Verdana';
		font-size: 1em;
	}

	.product-box:hover h6{
		color: #F2D49B;
	}

	.product-box-img{
		height: 60%;
		padding: 5% 0 0 0;
	}

	.product-describe{
		height: 30%;
		width: 90%;
		margin: 5% 5% 0 5%;
		padding-top: 2%;
		border-top: 3px solid #F2D49B;
	}

	.product-describe p{
		vertical-align: middle;
		color: #808080;
		font-size: 0.8rem;
		height: 70%;
	}

	.product-describe h6{
		height: 30%;
		vertical-align: bottom;
		margin-block-start: 0;
	    margin-block-end: 0;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
		bottom: 0;
		font-size: 1rem;
		color: #111;
	}
}
}