

@media screen and (min-width: 500px){
	
	/*
	 * HEADER
	 */

	.title{
		width: 80%;
		padding: 5% 10%;
		background-color: #1f1f1f;
	}

	#titulo{
		font-family: "Segoe UI";
		font-size: 3rem;
		color: #fff;
		text-align: left;
	}

	.navBar-produtos span,.navLink {
		font-family: 'Segoe UI';
	    color: #e9e9e9;
		font-size: 1.1em;
	}

	.navBar-produtos span{
		padding: 0 2%;
	}

	.navLink {
		cursor: pointer;
		text-decoration: none;
	}

	.navLink:hover {
		color: #d5ad46;
	}

	/*
	 * SEÇÕES DE PRODUTOS
	 */

	section{
		margin: 0;
		padding: 2% 5%;
		width: 90%;
		text-align: center;
	}

	.subtitle{
		font-family: Segoe UI;
		font-size: 1.2rem;
		text-align: center;
		margin: 0;
	}

	.subtitle span{
		font-family: Segoe UI;
		font-size: 1.2rem;
		text-align: center;
		margin: 0;
	}

	section header{
		width: 60%;
		margin: 0 20%;
		border-top: 4px solid #d5ad46;
	}

	.carrousel-produtos{
		margin: 0;
		padding: 2% 0 0 0;
		width: 100%;
	}

	.product-box:hover {
		box-shadow: 0 0 20px #d5ad46;
	}

	.header-box button{
		background-color: transparent;
		border: 2px solid #d5ad46;
		border-radius: 5px;
		width: 40%;
		height: 35px;
		margin-top: 10px;
		font-family: Verdana;
		font-size: 1rem;
		color: #1f1f1f;
	}

	.header-box button:hover {
		background-color: #d5ad46;
		color: #f1f1f1;
	}
	
	.container-conta, .container-button {
		justify-content: center;
		align-items: center;
	}

	.card {
		border-radius: 5px;
		border-left: 5px solid #f2d49b;
		box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
		padding: 30px;
		margin: 20px;
		width: 90%;
		transition: all 0.3s ease-out;
		font-family: Verdana;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.card:hover, .cardNull:hover {
		transform: translateY(-5px);
		cursor: pointer;
	}
 
	.card p {
		color: #a3a5ae;
		font-size: 16px;
		margin: 0.4rem 0;
	}

	.card h6 {
		font-size: 1rem;
		color: #111;
		margin-bottom: 0.4rem;
	}

	.card-image {
		width: 40%;
		align-items: center;
	}

	.card-body {
		width: 60%;
	}

	.product-img {
		width: 90%;
		padding: 0 5%;
	}

	.product-box-button{
		display: block;
		width: 60%;
		padding: 0 20%;
		align-items: center;
	}

	.product-box-button label{
		width: 40%;
		justify-content: center;
	}

	.product-box-button input{
		width: 40%;
		text-align: center;
	}

	.product-button {
		background-color: transparent;
		border: 2px solid #f2d49b;
		border-radius: 2px;
		width: 90%;
		height: 2rem;
		font-size: 1.2rem;
		margin-top: 0.6rem;
	}

	.product-button:hover {
		background-color: #f2d49b;
	}

	.product-button:hover img {
		filter: brightness(200%);
	}

	.cardNull {
		border-radius: 5px;
		box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
		padding: 30px;
		margin: 20px;
		width: 90%;
		transition: all 0.3s ease-out;
		background-color: #f2d49b;
		border-left: 5px solid #d5ad46;
		font-family: Verdana;
		display: flex;
		justify-content: center;
		align-items: center;
	}
 
	.cardNull p {
		color: #a3a5ae;
		font-size: 16px;
	}

	.cardNull a {
		color: #d5ad46;
		font-size: 16px;
		text-decoration: none;
	}

	.cardNull a:hover {
		text-decoration: underline;
	}
 
	.cardNull img {
		float: right;
		max-width: 64px;
		max-height: 64px;
	}
}